.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
    margin: 1.5rem;
}

.grid > span {
    padding: 8px 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.grid-2 {
    display: grid;
    grid: auto / 1fr 1fr;
    margin: 3rem;
    grid-column: span 2;
}

body{
    font-family: 'Rajdhani', sans-serif;
}
